.follower{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}
.followerLeft{
  flex: 0.2;
}
.follower >div span{
  font-size: 13px;
  color: grey;
}
.followerRight{
  display: flex;
  flex: 0.8;
  align-items: center;
  justify-content: space-between;
}